#Taller heterocedasticidad

Nicolas Bocachica David Lozano Sebastian Montaña

-Con el dataset sleep75:\
Construya un modelo que explique el tiempo de sueño de los individuos del dataset (seleccione las variables que considere relevantes).
-Verifique si para el modelo construido existe heterocedasticidad.
Con el dataset hprice1 estime los coeficientes del siguiente modelo:\
price = \beta_0 + \beta_1lotsize + \beta_2sqrft +\beta_3bdrms + u
-Con el dataset vote1, estime un modelo cuya variable dependiente sea votea y las variables independientes sean prtystra, democa, log(expenda y log(expendb. Verifique si existe heterocedasticidad.
-Construya un modelo que explique el tiempo de sueño de los individuos del dataset (seleccione las variables que considere relevantes). Verifique si para el modelo construido existe heterocedasticidad. Corrija la heterocedasticidad haciendo uso de mínimos cuadrados generalizados factibles.
Verifique si para este nuevo modelo existe heterocedasticidad

In [ ]:
!pip install wooldridge
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import wooldridge as wd
import statsmodels.api as sm 
import statsmodels.stats.api as sms

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 55.4 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from wooldridge) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->wooldridge) (1.16.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [ ]:
df= wd.data("sleep75")
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0.0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500.0,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500.0,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500.0,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500.0,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500.0,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500.0,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500.0,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500.0,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750.0,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [ ]:
wd.data("sleep75",description=True)

name of dataset: sleep75
no of variables: 34
no of observations: 706

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| age      | in years                       |
| black    | =1 if black                    |
| case     | identifier                     |
| clerical | =1 if clerical worker          |
| construc | =1 if construction worker      |
| educ     | years of schooling             |
| earns74  | total earnings, 1974           |
| gdhlth   | =1 if in good or excel. health |
| inlf     | =1 if in labor force           |
| leis1    | sleep - totwrk                 |
| leis2    | slpnaps - totwrk               |
| leis3    | rlxall - totwrk                |
| smsa     | =1 if live in smsa             |
| lhrwage  | log hourly wage                |
| lothinc  | log othinc, unless othinc < 0  |
| male     | =1 if male                     |
| marr     | =1 if married                  |
| prot     | =1 if Protestant               |
| rlxall   | slpnaps + personal activs      |
| selfe    | =1 if self employed            |
| sleep    | mins sleep at night, per wk    |
| slpnaps  | minutes sleep, inc. naps       |
| south    | =1 if live in south            |
| spsepay  | spousal wage income            |
| spwrk75  | =1 if spouse works             |
| totwrk   | mins worked per week           |
| union    | =1 if belong to union          |
| worknrm  | mins work main job             |
| workscnd | mins work second job           |
| exper    | age - educ - 6                 |
| yngkid   | =1 if children < 3 present     |
| yrsmarr  | years married                  |
| hrwage   | hourly wage                    |
| agesq    | age^2                          |
+----------+--------------------------------+

J.E. Biddle and D.S. Hamermesh (1990), “Sleep and the Allocation of
Time,” Journal of Political Economy 98, 922-943. Professor Biddle
kindly provided the data.

In [ ]:
X= df [["age","educ","gdhlth","earns74","leis1","totwrk","exper","worknrm"]]
X= sm.add_constant(X)
X.head()

   const  age  educ  gdhlth  earns74  leis1  totwrk  exper  worknrm
0    1.0   32    12       0      0.0   3529    3438     14     3438
1    1.0   31    14       1   9500.0   2140    5020     11     5020
2    1.0   44    17       1  42500.0   4595    2815     21     2815
3    1.0   30    12       1  42500.0   3211    3786     12     3786
4    1.0   64    14       1   2500.0   4052    2580     44     2580

In [ ]:
y=df["sleep"]
model= sm.OLS(y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sleep   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.150e+24
Date:                Fri, 12 May 2023   Prob (F-statistic):               0.00
Time:                        17:13:41   Log-Likelihood:                 12847.
No. Observations:                 706   AIC:                        -2.568e+04
Df Residuals:                     698   BIC:                        -2.564e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        775.3846   1.52e-10    5.1e+12      0.000     775.385     775.385
age         1550.7692   2.97e-10   5.22e+12      0.000    1550.769    1550.769
educ       -1550.7692   3.16e-10  -4.91e+12      0.000   -1550.769   -1550.769
gdhlth      3.255e-10   3.83e-10      0.851      0.395   -4.26e-10    1.08e-09
earns74    -2.607e-13    1.3e-14    -19.977      0.000   -2.86e-13   -2.35e-13
leis1         -1.0000   2.74e-13  -3.64e+12      0.000      -1.000      -1.000
totwrk        -1.0000   8.19e-13  -1.22e+12      0.000      -1.000      -1.000
exper      -1550.7692   3.01e-10  -5.16e+12      0.000   -1550.769   -1550.769
worknrm    -2.094e-13   7.77e-13     -0.270      0.788   -1.73e-12    1.32e-12
==============================================================================
Omnibus:                      201.268   Durbin-Watson:                   1.604
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              479.924
Skew:                           1.500   Prob(JB):                    6.11e-105
Kurtosis:                       5.704   Cond. No.                     1.40e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.15e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
sms.het_white(model.resid,model.model.exog)

(705.9980141082152, 1.4398568731083916e-126, 7016031.065786809, 0.0)

In [ ]:

sms.het_breuschpagan(model.resid,model.model.exog)

(506.10979836396467,
 3.437996082806918e-104,
 252.47048941775677,
 1.6754699831191577e-186)

In [ ]:

df1= wd.data("hprice1")
df1

,price,assess,bdrms,lotsize,sqrft,colonial,lprice,lassess,llotsize,lsqrft
0,300.0,349.100006,4,6126.0,2438,1,5.703783,5.855359,8.720297,7.798934
1,370.0,351.500000,3,9903.0,2076,1,5.913503,5.862210,9.200593,7.638198
2,191.0,217.699997,3,5200.0,1374,0,5.252274,5.383118,8.556414,7.225482
3,195.0,231.800003,3,4600.0,1448,1,5.273000,5.445875,8.433811,7.277938
4,373.0,319.100006,4,6095.0,2514,1,5.921578,5.765504,8.715224,7.829630
...,...,...,...,...,...,...,...,...,...,...
83,295.0,318.299988,3,6056.0,1837,1,5.686975,5.762994,8.708805,7.515889
84,236.0,259.399994,3,5828.0,1715,0,5.463832,5.558371,8.670429,7.447168
85,202.5,258.100006,3,6341.0,1574,0,5.310740,5.553347,8.754792,7.361375
86,219.0,232.000000,2,6362.0,1185,0,5.389072,5.446737,8.758098,7.077498
87,242.0,252.000000,4,4950.0,1774,1,5.488938,5.529429,8.507143,7.480992

In [ ]:
X= df1 [["lotsize","sqrft","bdrms"]]
X= sm.add_constant(X)
X.head()

   const  lotsize  sqrft  bdrms
0    1.0   6126.0   2438      4
1    1.0   9903.0   2076      3
2    1.0   5200.0   1374      3
3    1.0   4600.0   1448      3
4    1.0   6095.0   2514      4

In [ ]:
y=df1["price"]

betas=np.linalg.inv(X.T.dot(X)).dot(X.T.dot(y))
betas

array([-2.17703081e+01,  2.06770661e-03,  1.22778185e-01,  1.38525217e+01])

In [ ]:
sms.het_white(model.resid,model.model.exog)

(705.9980141082152, 1.4398568731083916e-126, 7016031.065786809, 0.0)

In [ ]:

sms.het_breuschpagan(model.resid,model.model.exog)

(506.10979836396467,
 3.437996082806918e-104,
 252.47048941775677,
 1.6754699831191577e-186)

In [ ]:

df2= wd.data("vote1")
df2

,state,district,democA,voteA,expendA,expendB,prtystrA,lexpendA,lexpendB,shareA
0,AL,7,1,68,328.295990,8.737000,41,5.793916,2.167567,97.407669
1,AK,1,0,62,626.377014,402.476990,60,6.439952,5.997638,60.881039
2,AZ,2,1,73,99.607002,3.065000,55,4.601233,1.120048,97.014763
3,AZ,3,0,69,319.690002,26.281000,64,5.767352,3.268846,92.403702
4,AR,3,0,75,159.220993,60.054001,66,5.070293,4.095244,72.612473
...,...,...,...,...,...,...,...,...,...,...
168,WV,4,0,39,32.039001,152.270996,42,3.466954,5.025662,17.383217
169,WI,3,1,32,22.625999,359.800995,53,3.119100,5.885551,5.916420
170,WI,5,0,36,197.460007,1278.526001,36,5.285536,7.153463,13.378174
171,WI,7,0,38,202.591003,450.716003,46,5.311189,6.110837,31.010078
172,WI,8,1,30,14.421000,227.822998,47,2.668685,5.428569,5.953087

In [ ]:

X= df2 [["prtystrA","democA","lexpendA","lexpendB"]]
X= sm.add_constant(X)
X.head()

   const  prtystrA  democA  lexpendA  lexpendB
0    1.0        41       1  5.793916  2.167567
1    1.0        60       0  6.439952  5.997638
2    1.0        55       1  4.601233  1.120048
3    1.0        64       0  5.767352  3.268846
4    1.0        66       0  5.070293  4.095244

In [ ]:

y=df2["voteA"]

model= sm.OLS(y,X).fit()

In [ ]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  voteA   R-squared:                       0.801
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     169.2
Date:                Fri, 12 May 2023   Prob (F-statistic):           8.09e-58
Time:                        17:17:01   Log-Likelihood:                -593.20
No. Observations:                 173   AIC:                             1196.
Df Residuals:                     168   BIC:                             1212.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         37.6614      4.736      7.952      0.000      28.312      47.011
prtystrA       0.2519      0.071      3.534      0.001       0.111       0.393
democA         3.7929      1.407      2.697      0.008       1.016       6.570
lexpendA       5.7793      0.392     14.750      0.000       5.006       6.553
lexpendB      -6.2378      0.397    -15.694      0.000      -7.022      -5.453
==============================================================================
Omnibus:                        6.304   Durbin-Watson:                   1.525
Prob(Omnibus):                  0.043   Jarque-Bera (JB):                6.030
Skew:                           0.448   Prob(JB):                       0.0491
Kurtosis:                       3.182   Cond. No.                         429.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
sms.het_white(model.resid,model.model.exog)

(31.101514031882232,
 0.0032582637988174596,
 2.680757572966291,
 0.00197332657011948)

In [ ]:
sms.het_breuschpagan(model.resid,model.model.exog)

(9.093356486631858,
 0.05880790411089852,
 2.330112826740845,
 0.058057501107010134)

In [ ]:

df3= wd.data("fertil2")
df3

,mnthborn,yearborn,age,electric,radio,tv,bicycle,educ,ceb,agefbrth,...,heduc,agesq,urban,urb_educ,spirit,protest,catholic,frsthalf,educ0,evermarr
0,5,64,24,1.0,1.0,1.0,1.0,12,0,NaN,...,NaN,576,1,12,0,0,0,1,0,0
1,1,56,32,1.0,1.0,1.0,1.0,13,3,25.0,...,12.0,1024,1,13,0,0,0,1,0,1
2,7,58,30,1.0,0.0,0.0,0.0,5,1,27.0,...,7.0,900,1,5,1,0,0,0,0,1
3,11,45,42,1.0,0.0,1.0,0.0,4,3,17.0,...,11.0,1764,1,4,0,0,0,0,0,1
4,5,45,43,1.0,1.0,1.0,1.0,11,2,24.0,...,14.0,1849,1,11,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,6,72,16,0.0,1.0,0.0,0.0,7,0,NaN,...,NaN,256,0,0,0,1,0,1,0,0
4357,1,60,28,0.0,1.0,0.0,0.0,7,2,19.0,...,NaN,784,0,0,0,1,0,1,0,0
4358,11,63,24,0.0,1.0,0.0,0.0,5,4,13.0,...,NaN,576,0,0,0,1,0,0,0,0
4359,1,62,26,0.0,1.0,0.0,0.0,0,1,25.0,...,7.0,676,0,0,1,0,0,1,1,1
4360,12,51,36,0.0,1.0,0.0,0.0,3,6,22.0,...,0.0,1296,0,0,0,1,0,0,0,1

In [ ]:
X= df3 [["mnthborn","age","educ","ceb","urb_educ", "yearborn"]]
X= sm.add_constant(X)
X.head()

   const  mnthborn  age  educ  ceb  urb_educ  yearborn
0    1.0         5   24    12    0        12        64
1    1.0         1   32    13    3        13        56
2    1.0         7   30     5    1         5        58
3    1.0        11   42     4    3         4        45
4    1.0         5   43    11    2        11        45

# CONCLUSIONES

1. Con las pruebas se puede afirmar que el modelo es heterocedastico, puesto que el p-valor se encuentra por debajo del 5%. Por lo que, rechazo la hipótesis Nula y concluyo que alguna de las variables está afectando los minutos de sueño de los individuos por semana.
2. Con las dos pruebas se puede afirmar que el modelo es heterocedastico, puesto que el p-valor se encuentra por debajo del 5%. Por lo que, rechazo la hipótesis  y que alguna de las variables está afectando el precio.
3. Con las dos pruebas se puede afirmar que el modelo es heterocedastico, puesto que el p-valor se encuentra por debajo del 5%. Por lo que, rechazo la hipótesis Nula, ya que alguna de las variables está afectando el porcentaje por voto A.